---
import siteData from "../data/siteData.json";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
	title?: string;
  description?: string;
  keywords?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { title = siteData.title, description = siteData.description, keywords = siteData.keywords } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content={Astro.generator} />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="/prism.css" rel="stylesheet" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL} />

    <!-- Primary Meta Tags -->
    <title>JGU | {title}</title>
    <meta content={title} name="title" />
    <meta content={description} name="description" />
    <meta content={keywords} name="keywords" />
    <meta content="Jing Gu" name="author" />

    <!-- Open Graph -->
    <meta property="og:site_name" content={title} />
    <meta property="og:title" content={title} name="title" />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={siteData.url} />
    <meta property="og:type" content="website">
    <meta property="og:image" content={siteData.image.src} />
    <meta property="og:image:url" content={siteData.image.src} />
    <meta property="og:image:secure_url" content={siteData.image.src} />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:alt" content={siteData.image.alt} />
    <script src="/prism.js" is:inline></script>
	</head>
	<body class="min-h-screen overflow-x-hidden grid grid-rows-[auto_1fr_auto]
      max-w-4xl mx-auto pt-16 pb-8 px-4 [&_p]:text-jg-charcoal
    [&_h1]:text-jg-charcoal [&_h1]:text-3xl [&_h1]:font-bold [&_h1]:mb-4
    [&_h2]:text-jg-charcoal [&_h2]:text-2xl [&_h2]:font-bold [&_h2]:mb-3
    [&_h3]:text-jg-charcoal [&_h3]:text-xl [&_h3]:font-bold
    [&_h4]:text-jg-charcoal [&_h4]:text-lg [&_h4]:font-semibold [&_h4]:mb-2
    [&_ul]:text-jg-charcoal [&_ul]:list-disc [&_ul]:leading-8
      [&_blockquote]:pl-6 [&_blockquote]:border-l-4 [&_blockquote]:border-jg-teal
		[&_code:not([class])]:bg-jg-fog [&_code:not([class])]:text-jg-salmon
		[&_code:not([class])]:rounded-sm [&_code:not([class])]:p-1 [&_code:not([class])]:text-xs
    [&_pre]:rounded-xl">
		<Header />
    <div class="my-16">
		  <slot />
    </div>
    <Footer />
	</body>
</html>